.question {
  margin: 6em auto;
}

.question h2 {
  font-size: 2rem;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

.options button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

.option-button {
  background-color: #007bff;
}

.option-button-correct {
  background-color: green;
}

.option-button-wrong {
  background-color: red;
}

.score {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #4caf50, #2e7d32);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.score:hover {
  transform: scale(1.05);
}
